/* Defaults */

$font-size_body: 1em;
$font-size_default: 0.875rem;
$full-width: 100%;

/* Colors */

$color-white : #fff;
$color-lightgrey: #dedede;
$color-offwhite2 : #f2f2f2;
$color-offwhite : #5d6672;
$color-black : #333;
$color-green : #04c18e;
$color-dark: #000;
$color-grey: #ccc;
$color-grey2: #aaa;
$color-dark-grey: #526d7a;
$color-medium-grey: #526d7a;
$color-hover: #0089ec;
$color-blue: #0089ec;
$color-lightblue: #7db9e4;
$color-hover2: #5AA9FF;
$color-orange: #ffc000;
/* Site header */
$header-padding: 18px 0;

/* Site footer */
$footer-one-padding: 60px 0;
$footer-two-padding: 12px 0;

$float-right: float-right;
$float-left: float-left;

/* Site navigation */
$navigation-item-padding: 15px;

/* Typography */

$font-default: 'Open Sans', sans-serif;
$font-secondary: 'MyriadProRegular', sans-serif;
$font-secondary2: 'MyriadProBold', sans-serif;

$button-padding: 15px;
$border-grey-color: #adaaaa;

/*margins*/
$auto-margin: 0 auto;

/*padding*/


/*borders*/


/*background colors*/


/*animation*/
$transition1 : all 0.5s ease 0.5s;
$translate1 : -50%, -50%;
