/* Colors */
$color_brand-grey: #90867a;
$color_brand: #005095;
$color_light-grey: #f6f6f6;
$color_white: #fff;
$color_muted-text: #666;
$color_light-grey-text: #b3b3b3;
$color_bcrumb: #a0b4bf;
$color_tables-mouseover: #f1edea;
$bullet-point-color: #aca53d;

$light-blue: #009ee0;
$dark-blue: #005095;
$greenish : #aca53d;
$light-greenish : #cdc98b;;
$button-black-color: #525252;
$color_body: #333;

$headings-color: $light-blue;
$lifecycle-bgcolor: #343434;
$lifecycle-textcolor: #fff;

/* Typography */
$font-family_body: "compatilfactlt", sans-serif;
$body-font-family: $font-family_body;
$font-family_headings: 'compatiltextlt', sans-serif;
$headings-font-family: $font-family_headings;
$line-height_body-text: 12pt;

/* Bootstrap color vars */
$gray-dark: #322d28;
//$gray:                      #55595c !default;
$gray-light: #818a91 !default;
//$gray-lighter:              #eceeef !default;
//$gray-lightest:             #f7f7f9 !default;

$brand-primary: $color_brand;
$brand-success: #ff6400;
$brand-info: #ff6400;
//$brand-warning:             #f0ad4e !default;
//$brand-danger:              #d9534f !default;

