<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">

		<div class="form-wrapper inputs">
			<h3>Sign In</h3>
			<form id="customer" ng-controller="LoginController" ng-submit="login(user)">
				<div class="form-group label-floating">
					<label for="email" class="control-label">Email*</label> 
					<input id="email" name="email" ng-model="user.email" class="form-control" required="required" value="" type="text"> 
					<span class="help-block">Please enter a valid email address</span>
				</div>

				<div class="form-group label-floating">
					<label for="password" class="control-label">Password*</label> 
					<input id="password" name="password" ng-model="user.password" class="form-control" required="required" value="" type="password"> 
					<span class="help-block">Please enter password</span>
				</div>

				<div class="form-group" style="text-align: center">
					<input class="btn btn-primary" value="Sign In" type="submit">
				</div>

				<div class="clearfix"></div>

				<div class="separator text-center form-footer">
					<p class="change_link"> Don't have an account? 
					<a ui-sref="signup"  class="to_register finkr-color"> Create New Account </a>
					</p>
					<div class="clearfix"></div>
					<div>
						<p>&copy;2017 All Rights Reserved. Caggle.</p>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>

<script>
    $( document ).ready(function() {
        console.log( "document loaded" );
        $(".header").hide();
    });
 
</script>
    
