<div id="stepMenu" class="step-menu">
    <ul>
         <li class="step-menu__item selected succeed">
        <a href="#" ng-click="scrollTo('step_1')" class="step-menu__item-wrapper" >
           <span class="step-menu__bubble">
              <span class="bubble">
                <span class="order">1</span>
                <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
              </span>
            <span class="step-menu__heading">Enter your existing loan details</span>
            </span>
            </a>
        </li>
        <li class="step-menu__item selected">
        <a href="#"  ng-click="scrollTo('step_2')" class="step-menu__item-wrapper">
           <span class="step-menu__bubble">
              <span class="bubble">
                <span class="order">2</span>
                <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
              </span>
              <span class="step-menu__heading">Enter your vehile details</span>
            </span>
            </a>
        </li>
        <li class="step-menu__item">
        <a href="#" class="step-menu__item-wrapper">
           <span class="step-menu__bubble">
              <span class="bubble">
                <span class="order">3</span>
                <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
              </span>
              <span class="step-menu__heading">Confirm your vehicle</span>
            </span>    
            </a>
        </li>
        <li class="step-menu__item">
        <a href="#" class="step-menu__item-wrapper">
            <span class="step-menu__bubble">
              <span class="bubble">
                <span class="order">4</span>
                <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
              </span>
              <span class="step-menu__heading">Check Eligibility</span>
            </span>
            </a>
        </li>
        <li class="step-menu__item">
        <a href="#" class="step-menu__item-wrapper">
            <span class="step-menu__bubble">
              <span class="bubble">
                <span class="order">5</span>
                <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
              </span>
              <span class="step-menu__heading">Compare loan offers</span>
            </span>
            </a>
        </li>
    </ul>
</div>